body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: #5D8BF4;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  color: #5D8BF4;
  font-family: 'Lemonada', cursive;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Genos', sans-serif;
  font-size: 25px;
}

hr {
  border: dotted #B8FFF9 6px;
  border-bottom: none;
  width: 7%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #344CB7;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.about {
  width: 30%;
  margin: auto;
}

.top {
  background-color: #DFF6FF;
  position: relative;
  padding: 100px;
}

.middle {
  background-color: #EFFFFD;
  padding-top: 100px;
  padding-bottom: 20px;
}

.bottom {
  background-color: #5D8BF4;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 60px auto 60px auto;
  text-align: left;
}

.coding {
  width: 600px;
}

.avatar {
  width: 150px;
}

.code_gif {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.brownie {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.achievements {
  padding-top: 30px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 50px;
}

.btn {
  background: #7ca5ed;
  background-image: -webkit-linear-gradient(top, #7ca5ed, #006fb0);
  background-image: -moz-linear-gradient(top, #7ca5ed, #006fb0);
  background-image: -ms-linear-gradient(top, #7ca5ed, #006fb0);
  background-image: -o-linear-gradient(top, #7ca5ed, #006fb0);
  background-image: linear-gradient(to bottom, #7ca5ed, #006fb0);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Genos', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7ac6f5;
  background-image: -webkit-linear-gradient(top, #7ac6f5, #41a0db);
  background-image: -moz-linear-gradient(top, #7ac6f5, #41a0db);
  background-image: -ms-linear-gradient(top, #7ac6f5, #41a0db);
  background-image: -o-linear-gradient(top, #7ac6f5, #41a0db);
  background-image: linear-gradient(to bottom, #7ac6f5, #41a0db);
  text-decoration: none;
}
